/* Structure */
table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.blue-header {
    background-color: blue;
    color: white;
}

.mat-row.alt-row {
    background-color: #f2f2f2;
}